.sidebar hr,
.main-body hr {
	background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="7px" viewBox="0 0 20 7" enable-background="new 0 0 20 7" xml:space="preserve"><path fill="%23F0F0F0" d="M4,6.4H3c-1.7,0-3-1.3-3-3c0-1.7,1.3-3,3-3h1c1.7,0,3,1.3,3,3C7,5.1,5.7,6.4,4,6.4z"/></svg>');
	background-repeat: repeat-x;
	height: 6px;
	background-color: transparent;
	border: 0;
	display: block;
}
.sidebar hr {
	margin: 0.75em 0;
}