.outer-container {
	padding: 0 1em;
	@include media($gt-medium) {
		@include outer-container;
	}
}

.row {
	@include media($gt-medium) {
		@include row;
	}
}

.main-body {
	@include media($gt-medium) {
		@include span-columns(8);
	}
}

.sidebar {
	@include media($gt-medium) {
		@include span-columns(4);
	}
}

.footer__column {
	@include media($gt-medium) {
		@include span-columns(4);
	}
}

.half-width {
	@include media($gt-medium) {
		@include span-columns(6);
	}
}

.clearfix {
	@include clearfix();
}

.main-body, .sidebar {
	padding-top: 4.25em;
	padding-bottom: 4.25em;
}