// Typography
$base-font-family:              "adelle-sans", sans-serif;
$heading-font-family:           "adelle", serif;
$base-font-weight:				400;
$bold-font-weight:				700;

// Font Sizes
$base-font-size:                16px;

$h1-size:                       31px;
$h1-small-screen:				$h1-size * 0.666;
$h2-size:                       26px;
$h2-small-screen:				$h2-size * 0.666;
$h3-size:                       22px;
$h3-small-screen:				$h3-size * 0.666;
$h4-size:                       19px;
$h4-small-screen:				$h4-size * 0.666;
$h5-size:                       16px;
$h5-small-screen:				16px;

// Line height
$base-line-height:              1.5;
$heading-line-height:           1.2;

// Other Sizes
$base-border-radius:            8px;
$base-spacing:                  $base-line-height * 1em;
$small-spacing:                 $base-spacing / 2;

// Colors
$dark-gray:                     #68676E;
$medium-gray:                   #9492A2;
$light-gray:                    #F0F0F0;
$white:                         #fff;

$green:                         #3c763d;
$red:                           #a94442;
$orange:                        #8a6d3b;
$blue:                          #31708f;
$pink:							#CE4F74;
$purple:						#4A4567;

// Font Colors
$base-background-color:         $white;
$base-font-color:               $dark-gray;
$action-color:                  $pink;

// Border
$base-border-color:             $medium-gray;
$base-border:                   1px solid $base-border-color;
$nav-border-color:				rgba(255, 255, 255, 0.19);
$nav-border:					1px solid $nav-border-color;


// Forms
$fieldset-background:           lighten($base-border-color, 10%);
$form-box-shadow:               inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus:         $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);


// Buttons

$button-primary:                $pink;
$button-primary--hover:			darken($button-primary, 15%);
$button-secondary:              $white;
$button-secondary--hover:		darken($button-secondary, 15%);
$button-secondary-border:		$pink;

$button-text:                   $white;
$button-border-radius:          $base-border-radius;
$button-padding:				0.75em 1em;
$base-font-weight:				normal;

// Media

$small:						    420px;
$medium:				        768px;
$large:						    1024px;


// Neat Breakpoints

$gt-small: new-breakpoint(min-width $small + 1px);
$gt-medium: new-breakpoint(min-width $medium + 1px);
$gt-large: new-breakpoint(min-width $medium + 1px);

