<div class="tweet">
    <blockquote class="tweet__content"><p><perch:twitter id="tweetHTML" encode="false" /></p></blockquote>
	<div class="tweet__meta">
		<div class="timestamp"><perch:twitter id="tweetDate" format="j M y h:i a" /></div>
		<div class="intents">
		<a class="twitter-reply" href="https://twitter.com/intent/tweet?in_reply_to=<perch:twitter id="tweetTwitterID" />">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
<g id="Page-1">
	<g id="icon--reply">
		<g enable-background="new    ">
			<path fill="#333333" d="M13.2,12.7c-0.1,0.2-0.1,0.4-0.2,0.5c0,0.1-0.1,0.1-0.2,0.1c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0-0.2,0-0.3
				c0-0.3,0-0.5,0-0.8c0-3.2-1.9-3.8-4.8-3.8H6.3v1.7c0,0.2-0.2,0.4-0.4,0.4c-0.1,0-0.2,0-0.3-0.1L2.1,6.8C2,6.7,2,6.6,2,6.5
				s0-0.2,0.1-0.3l3.4-3.4c0.1-0.1,0.2-0.1,0.3-0.1c0.2,0,0.4,0.2,0.4,0.4v1.7h1.5c2.2,0,4.9,0.4,5.9,2.7C13.9,8.2,14,9,14,9.7
				C14,10.7,13.5,11.9,13.2,12.7z"/>
		</g>
	</g>
</g>
</svg>

		</a>
		<a class="twitter-retweet" href="https://twitter.com/intent/retweet?tweet_id=<perch:twitter id="tweetTwitterID" />">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
<g id="Page-1">
	<g id="icon--retweet">
		<g enable-background="new    ">
			<path d="M9.9,11.9H3.5c-0.2,0-0.2-0.3-0.2-0.4v-1.1V7.6H2c-0.2,0-0.4-0.2-0.4-0.4c0-0.1,0-0.2,0.1-0.3l2.1-2.6
				C3.9,4.2,4,4.1,4.1,4.1s0.2,0.1,0.3,0.1l2.1,2.6C6.7,6.9,6.7,7,6.7,7.1c0,0.2-0.2,0.4-0.4,0.4H5v2.6h3.9c0.1,0,0.1,0,0.2,0.1
				l1.1,1.3c0,0,0,0.1,0,0.1C10.1,11.8,10,11.9,9.9,11.9z M14.3,9.1l-2.1,2.6c-0.1,0.1-0.2,0.2-0.3,0.2c-0.1,0-0.2-0.1-0.3-0.2
				L9.4,9.1C9.3,9.1,9.3,9,9.3,8.9c0-0.2,0.2-0.4,0.4-0.4H11V5.9H7.1C7.1,5.9,7,5.8,7,5.8L5.9,4.5c0,0,0-0.1,0-0.1
				c0-0.1,0.1-0.2,0.2-0.2h6.4c0.2,0,0.2,0.3,0.2,0.4v1.1v2.8H14c0.2,0,0.4,0.2,0.4,0.4C14.4,9,14.4,9.1,14.3,9.1z"/>
		</g>
	</g>
</g>
</svg>



		</a>
		<a class="twitter-fav" href="https://twitter.com/intent/favorite?tweet_id=<perch:twitter id="tweetTwitterID" />">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
<g id="Page-1">
	<g id="icon--favourite">
		<g enable-background="new    ">
			<path fill="#333333" d="M13.4,7.1L11,9.5l0.6,3.3c0,0,0,0.1,0,0.1c0,0.2-0.1,0.3-0.3,0.3c-0.1,0-0.2,0-0.3-0.1l-3-1.6l-3,1.6
				c-0.1,0-0.2,0.1-0.3,0.1c-0.2,0-0.3-0.2-0.3-0.3c0,0,0-0.1,0-0.1L5,9.5L2.6,7.1C2.5,7,2.4,6.9,2.4,6.8c0-0.2,0.2-0.3,0.4-0.3
				L6.2,6l1.5-3C7.7,2.8,7.8,2.7,8,2.7S8.3,2.8,8.3,3l1.5,3l3.4,0.5c0.2,0,0.4,0.1,0.4,0.3C13.6,6.9,13.5,7,13.4,7.1z"/>
		</g>
	</g>
</g>
</svg>

		</a>
		</div>
	</div>
	
</div>
<hr />
<perch:after>
<a href="https://twitter.com/<perch:twitter id="tweetUser" />" class="button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow @<perch:twitter id="tweetUser" /></a>
</perch:after>