<perch:form id="password" method="post" app="perch_members">

	<div>
		<perch:label for="old_password">Current password</perch:label>
		<perch:input type="password" id="old_password" required="true" />
		<perch:error for="old_password" type="required">Please enter your current password</perch:error>
		<perch:error for="old_password" type="valid">That password doesn't match our records</perch:error>
	</div>

	<div>
		<perch:label for="password">New Password</perch:label>
		<perch:input type="password" id="password" required="true" match-with="password2" />
		<perch:error for="password" type="required">Please enter a new password</perch:error>
		<perch:error for="password" type="match">Passwords do not match</perch:error>
	</div>

	<div>
		<perch:label for="password2">Repeat new password</perch:label>
		<perch:input type="password" id="password2" required="true" />
		<perch:error for="password2" type="required">Please repeat your password</perch:error>
	</div>
	<div>
		<perch:input type="submit" value="Set new password" />
		<perch:input type="hidden" id="token" />
	</div>

	<perch:success>
		<p>Your details have been updated.</p>
	</perch:success>

</perch:form>