//Comments

.comments {
	margin-bottom: 4em;
}

.comments__list {
	list-style: none;
	padding-left: 0;
}

.comment__item {
	@include clearfix;
	margin-bottom: 2em;
}

.comment__avatar {
	@include span-columns(3);
	border-radius: 50%;
	@include clearfix;
	overflow: hidden;
	height: 4.375em;
	width: 4.375em;
	img {
		float: left;
		height: 100%;
		width: auto;
	}
}

.comment__content {
	@include span-columns(9);
	time {
		@include font-size(14px);
	}
}

.comment__author {
	margin-top: 0;
	font-family: $base-font-family;
}


fieldset {
	background-color: $white;
	border: none;
	legend {
		margin-bottom: 0.75em;
	}
	label {
		font-weight: $bold-font-weight;

	}
}
	
fieldset { 
	padding: 0;
}
@include media ($gt-medium) {
	.form-wrapper {
		@include clearfix;
		div {
			width: 45%;
			float: left;
			&:last-child {
				float: right;
			}
		}
	}
}

.comment-form {
	margin-bottom: 4em;
}