//Comments

.comments__list {
	list-style: none;
	padding-left: 0;
}

.comment__item {
	@include clearfix;
	margin-bottom: 23m;
}

.comment__avatar {
	@include span-columns(3);
	border-radius: 50%;
	@include clearfix;
	overflow: hidden;
	height: 4.375em;
	width: 4.375em;
	img {
		float: left;
		height: 100%;
		width: auto;
	}
}

.comment__content {
	@include span-columns(9);
	time {
		@include font-size(14px);
	}
}

.comment__author {
	margin-top: 0;
	font-family: $base-font-family;
}

#form1_comment fieldset {
	background-color: $white;
	border: none;
	label {
		font-weight: $bold-font-weight;
	}
	@include media ($gt-medium) {
		div:nth-child(2) {
		width: 16.25em;
		margin-right: 4.375em;
	
		}
		div:nth-child(3) {
			width: 16.25em;
			
			float: right;
		}
	}
}