.main-footer {
	background-color: $purple;
	border: none;
	color: $white;
	padding-top: 4.688em;
	a {
		color: $white;
	}
	.widget__title {
		color: $white;
		font-weight: $bold-font-weight;
	}
	.btn-secondary {
		background-color: transparent;
		color: $white;
	}
}


.copyright-notice {
	text-align: center;
	opacity: 0.4;
	@include font-size(14px);
}

