.main-footer {
	background-color: $purple;
	border: none;
	color: rgba($white, 0.4);
	padding-top: 4.688em;
	padding-bottom: 0.75em;
	a {
		color: inherit;
		&:hover {
			color: $pink;
		}
	}
	h1, h2, h3, h4, h5 {
		color: $white;
	}
}

.copyright-notice {
	text-align: center;
	@include font-size(14px);
}

