.main-header {
	border-bottom: 1px solid $white;
	@include clearfix();
	background-color: $purple;
	color: $white;
	a {
		color: inherit;
	}
	.outer-container {
		padding: 0;
		@include media($gt-medium) {
			padding: 0 1em;
		}
	}
}

.logo {
	width: 100%;

	h1 {
	padding-top: 0.75em;		text-align: center;
		color: $white;
		margin-top: 0;
	}
	@include media($gt-medium){
		float:left;

		width: auto;
		text-align: left;
	}
}



