.hero {
	background: linear-gradient(to right, $pink, #894B7C);
	transition: background 10s;	
	width: 100%;
	padding: 4.125em 0;
}

.hero__content {
	color: $white;
	text-align: center;
	@include media($gt-medium) {
		width: 85%;
		text-align: left;
	}
	a {
		color: $white;
		text-decoration: underline;
	}
}

.hero__strapline {
	margin-top: 0;
	line-height: 1.73em;
	color: $white;
}