//Icon Nav



.icon-nav ul {
	padding-left: 0;
	li {
		@include clearfix;
		margin-bottom: 1.5em;
		svg {
			width: 100%;
			height: auto;
		}
		a {
			display: flex;
			align-items: center;
		}
	}
	.main-footer &{
		display: flex;
		align-items: stretch;
		li {
			padding-right: 2em;
		}
	}
	@include media($gt-medium) {
		display: flex;
		align-items: stretch;
		li {
			flex: 1;
			padding-right: 2em;
			&:last-child {
				padding-right: 0;
			}
			a {
				display: block;
			}
		}
	}
}

.no-flexbox .icon-nav ul li {
	float:left;
}

.icon-nav__icon {
	@include span-columns(3);
	@include media($gt-medium) {
		width: 100%;
	}
}

.icon-nav__title {
	font-family: $accent-font-family;
	@include span-columns(9);
	padding-left: 1em;
	color: $white;
	@include media($gt-medium) {
		width: 100%;
		text-align: center;
		margin-top: 0.5em;
		padding-left: 0;
	}
}

.main-footer .icon-nav li:hover svg * {
	fill: $pink;	
	transition: fill 0.2s;
}

