.hero {
	background: linear-gradient(to right, $pink, #894B7C);
	float: left;
	width: 100%;
	padding: 4.125em 0;
	&__content {
		color: $white;
		text-align: center;

		* {
			margin-top: 0;
			line-height: 1.73em;
		}
		@include media($gt-medium) {
			width: 85%;
			text-align: left;
		}
		a {
			color: $white;
			text-decoration: underline;
		}
	}
}

.icon-nav {
	* {
		color: $white;
	}
	ul {
		padding-left: 0;
		@include media($gt-medium) {
			display: flex;
			align-items: stretch;
			justify-content: space-between;
			footer & {
				justify-content: start;
			}
		}
		li {
			// width: 33%;
			padding: 0 auto;
			@include media($gt-medium) {
				// width: 8.4375em;
				text-align: center;
				// flex-grow: 1;
				// flex-shrink: 1;
			}
		}
	}
}

