.hero {
	background: linear-gradient(to right, $pink, #894B7C);
	transition: background 10s;	
	float: left;
	width: 100%;
	padding: 4.125em 0;
}

.hero__content {
	color: $white;
	text-align: center;
	@include media($gt-medium) {
		width: 85%;
		text-align: left;
	}
	a {
		color: $white;
		text-decoration: underline;
	}
}

.hero__strapline {
	margin-top: 0;
	line-height: 1.73em;
}

//Icon Nav

.icon-nav {
	ul {
		padding-left: 0;
		li {
			width: 50%;
			margin: 0 auto;
			text-align: center;
		}
		@include media($gt-medium) {
			display: flex;
			align-items: stretch;
			li {
				flex: 1;
				padding-right: 2em;
				&:last-child {
					padding-right: 0;
				}
			}
		}
	}
}

.main-footer .icon-nav li {
	padding: 0;
	max-width: 3.75em;
	margin: 0 1.25em 0 0;
	img {
		max-width: 3.75em;
		float: left;
	}
}

.icon-nav__title {
	width: 66.667%;
	@include margin(null auto);
	color: $white;
	@include media($gt-medium) {
		width: 100%;
	}
}

//Main Content

.main-body, .sidebar {
	padding-top: 4.25em;
}

.page-title {
	color: $purple;
	margin-top: 0;
}
