.main-nav {
  margin: 0;
  line-height: 2.6em;
  @include media($gt-medium){
    float: right;
    line-height: 5.22em;
  }
}

.main-nav ul {
  margin: 0;
  padding: 0;
}

.main-nav li {
  padding: 0 1em;
  @include font-size(15px);
  border-bottom: $nav-border;
  text-align: center;
    &:first-child {
      border-top: $nav-border;
      @include media($gt-medium){
        border-left: $nav-border;
        border-top: 3px solid transparent;
        &:hover, & .active {
        border-top: 3px solid $pink;
        }
      }
    } 
  @include media($gt-medium){
    border-right: $nav-border;
    border-bottom: 0;
    border-top: 3px solid transparent; 
    &:hover, & .active {
      border-top: 3px solid $pink;
    }
    &:last-child {
      border-top: none;
    }
  }
}

.main-nav li a {
  display: inline-block;
}

//Responsive Navigation

.js .main-nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.main-nav.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  user-select: none;
  display: block;
  text-align: center;
}

@include media($gt-medium) {
  .js .main-nav {
    position: relative;
  }
  .main-nav li {
    width: auto;
    float:left;
  }
  .js .main-nav.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}