.post__title {
	margin-top: 0;
	color: $purple;
	a {
		color: $purple;
	}
}

.post__byline {
	font-style: italic;
}

.post--extended .post__content {
	h1, h2, h3, h4, h5 {
		font-family: $base-font-family;
	}
}

//Tags

.tags {
	padding: 2em 0;
}

.tags input.btn--secondary {
	border-color: $purple;
	color: $purple;
}

code {
	background-color: $light-gray;
}
pre {
	border-left: 4px solid $purple;
	padding: 1em 1em 1em 1.5em;
	background-color: $light-gray;
}