.widget {
	margin-bottom: 4.375em; 
	&--gallery, &--rss, &--snippet, &--advert {
		@extend .widget;
	}
	.btn--secondary, .btn--inverse {
		margin-top: 0.5em;
	}
}

.widget__header {
	margin-bottom: 0.25em;
}

.widget__icon {
	margin-right: 0.25em;
}

.widget__title {
	color: $purple;
	display: inline-block;
	margin-top: 0;
	font-family: $accent-font-family;
	.main-footer & {
		color: $white;
	}
}

.widget__title h3 {
	display: flex;
}
.widget__title svg {
	margin-right: 0.25em;
}
.widget__content {
	margin-top: 0;
	p:first-child {
		margin-top: 0;
	}
}

.tweet__content {
	margin: 0;
	padding: 0;
}

.tweet__meta {
	@include font-size(14px);
	color: $medium-gray;
	display: flex;
    justify-content: space-between;
    padding-right: 1em;
}
.intents svg * {
	fill: $medium-gray;
	transition: all 0.2s
}
.intents svg:hover * {
	fill: $purple;
}