<article class="post">
    <header class="post__header">
        <h3 class="post__title"><a href="<perch:blog id="postURL" />" rel="bookmark" class="entry-title"><perch:blog id="postTitle" /></a></h3>
        <div class="post__byline">
            <time class="dt-published" datetime="<perch:blog id="postDateTime" type="date" label="Date" time="true" format="Y-m-d H:i:s" divider-before="Meta information" />">
                <perch:blog id="postDateTime" type="date" time="true" format="%d %B %Y" />
            </time>
        </div>
    </header>
    
    <div class="post__content">
        <perch:blog id="excerpt" type="textarea" textile="true" />
    </div>
    <a href="<perch:blog id="postURL" />" class="button">Read more &raquo;</a>  
</article>
<hr />
<perch:after>
    <perch:if exists="paging">
        <nav class="pagination-nav">
           <ul class="pagination__list">
            <perch:if exists="not_first_page">
                <li>
                    <a href="<perch:blog id="prev_url" encode="false" />" aria-label="Previous">
                       <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            </perch:if>
            <perch:blog id="page_links" encode="false" />
            <perch:if exists="not_last_page">
            <li><a href="<perch:blog id="next_url" encode="false" />" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a></li>
            </perch:if>
            </ul>
        </nav>
    </perch:if>
</perch:after>