<perch:before>
	<table>
		<thead>
			<th>Listing Title</th>
			<th>Sumission Date</th>
			<th>Status</th>
		</thead>
</perch:before>
<tr>
	<td>
		<a href="apps/<perch:listing id="listingSlug" type="hidden" />">
			<perch:listing id="listingTitle" type="text"  />
		</a>
	</td>
	<td>
		<perch:listing id="listingDateTime" format="%d %b %Y" type="date" />
	</td>
	<td>
		<perch:listing id="listingStatus" type="text" />
	</td>
</tr>
<perch:after>
	</table>
	<a href="apps/new" class="button">New</a>
</perch:after>